ProductDevelopment/AttributeFinder/IndustrySpecific/LabResults/Corepoint Integration/FlexData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2008 rel. 2 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="FlexData">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MessageSequenceNumberFile">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="FullText" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="OperatorComments" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="FullText" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ResultStatus" minOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="FullText" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Filename">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="FullText" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="PatientInfo" minOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="FullText" minOccurs="1" type="xs:string" />
              <xs:element name="Name">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="FullText" minOccurs="1" type="xs:string" />
                    <xs:element name="First" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="FullText" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Middle" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="FullText" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Last" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="FullText" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Suffix" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="FullText" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="EpicName">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="FullText" minOccurs="1" type="xs:string" />
                    <xs:element name="First" minOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="FullText" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Middle" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="FullText" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Last" minOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="FullText" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Suffix" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="FullText" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="DOB" minOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="FullText" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Gender" minOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="FullText" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="MR_Number" minOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="FullText" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Patient_ID" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="FullText" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="PhysicianInfo" minOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="FullText" minOccurs="1" type="xs:string" />
              <xs:element name="OrderingPhysicianName" minOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="FullText" type="xs:string" />
                    <xs:element name="Last">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="FullText" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="First">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="FullText" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Middle" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="FullText" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Code">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="FullText" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Suffix" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="FullText" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="OtherPhysicianName" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="FullText" type="xs:string" />
                    <xs:element name="Last">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="FullText" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="First">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="FullText" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Middle" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="FullText" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Code">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="FullText" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Suffix" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="FullText" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Test" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="FullText" minOccurs="1" type="xs:string" />
              <xs:element name="Name" minOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="FullText" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="OrderCode">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="FullText" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="1" name="EpicCode">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="FullText" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="CollectionDate" minOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="FullText" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="CollectionTime" minOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="FullText" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="OrderNumber" minOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="FullText" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ResultDate" minOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="FullText" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ResultTime" minOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="FullText" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element ref="LabInfo" />
              <xs:element name="Comment" minOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="FullText" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Component" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="FullText" type="xs:string" />
                    <xs:element name="TestCode">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="FullText" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Value" minOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="FullText" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Units" minOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="FullText" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Range">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="FullText" minOccurs="1" type="xs:string" />
                          <xs:element name="Min" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="FullText" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Max" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="FullText" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Flag" minOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="FullText" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="OriginalName" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="FullText" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Comment" minOccurs="1">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="FullText" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element ref="LabInfo" minOccurs="0" />
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="ResultDate">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="FullText" type="xs:string" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="ResultTime">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="FullText" type="xs:string" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="CollectionDate">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="FullText" type="xs:string" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="CollectionTime">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="FullText" type="xs:string" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Address">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="FullText" minOccurs="1" type="xs:string" />
        <xs:element name="Address1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="FullText" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="City">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="FullText" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="State">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="FullText" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ZipCode">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="FullText" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LabInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="FullText" minOccurs="1" type="xs:string" />
        <xs:element ref="Address" minOccurs="0" />
        <xs:element name="LabIdentifier" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="FullText" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="LabCode" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="FullText" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Name" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="FullText" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Lab_Number" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="FullText" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Phone_Number" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="FullText" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>